body .cart_table {
    margin-top: 230px;
    margin-bottom: 100px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    padding: 10px;
   
}
.table {
    text-align: center;
    user-select: none;
}
.table tr:last-child {
    border-bottom: 1px solid #ccc ;
}
.table tr button{
    width: 18px;
    height: 18px;
    line-height: 15px;
    vertical-align: top ;
    text-align: center;
}
.num_span {
    display: inline-block;
    margin: 0 5px;
}
.cart_table_next p {
    font-size: 20px;
    color: #000;

}
.cart_table_next p i {
    color: red;
}